div.fejlec{
    background-color: #2B0000;
    color: #C5BEBE;
    padding: 1px; 
}

div.fejlec h5{
    font-family: 'Montagu Slab', serif;
    font-size: 1.8em;
    margin: 5px 0px 20px 0px;;
    letter-spacing: 2px;
}

div.felso{
    background-color: #2B0000;
}

div.kozep{ 
  min-height: 100%;
}

div.kozep a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: 'Montagu Slab', serif;
}

div.also{
    position: sticky;
    top: 100%;
    background-color: #2B0000;
    color: #C5BEBE;
    padding: 10px 0px 10px 0px;
    font-family: 'Oswald', sans-serif;
}

div.also a{
    text-decoration: none;
    color: #C5BEBE;
    font-size: 1.1em;
}

body{
    min-height: 100vh;
    margin: 0px;
    background-color: #C5BEBE;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.gomb{
    display: inline-block;
    background-color: #5A0300;
    width: 24%;
    border-radius: 10px;
    float: left;
    margin: 5px 0px 5px 0px;
}

.gomb:hover{background-color: black}

.gomb a{
    text-decoration: none;
    display: block;
    color: #C5BEBE;
    padding: 15px 0px 15px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;

}

.gomb_burkolo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

table{
    padding: 10px 0px;
    width: 80%;
    min-width: 380px;
}

.pics{    
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


.landspic{         
    vertical-align: inherit; 
    padding: 5px;
    position: relative;    
}

.portpic{           
    padding: 5px;    
    position: relative;    
}

.picitem{
    width: 100%;
    style: object-fit: fill; 
      
}

td:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1); 
  z-index: 1;
}

td{
    transition: transform .2s;
}

div.vid video{
    height: 90%;
    max-height: 800px;
    width: 90%;
    max-width: 1000px;
    min-width: 370px;
    display: block;
    margin: auto;
}

*{
    text-align: center;
}

p{
    font-family: 'Montagu Slab', serif;
    font-size: 1.1em;
    margin: 25px 15%;
}

h2{
    font-style: bold;
    font-family: 'Oswald', sans-serif;
    margin: 15px;
    font-size: 1.6em;
}

h3{
    font-size: 1.2em;
    margin: 0px;
}

h4{
    font-size: 1.4em;
    margin: 30px 0px 5px 0px;
    font-family: 'Montagu Slab', serif;
    letter-spacing: 2px;
}

img.rolam{
    min-width: 150px;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #504444;
}

.container{
    display: inline-block;
    width: 60vw;
    min-width: 360px;
    height: 34vw;
    min-height: 202px;
    margin: 25px 0px 50px 0px;
}

.tervkep{
    display: inline-block;
    min-width: 300px;
    width: 40%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #504444;
    margin: 20px;
}